<?xml version="1.0" encoding="UTF-8"?><!--
 This file is part of Kubriko.
 Copyright (c) Pandula Péter 2025-2026.
 https://github.com/pandulapeter/kubriko

 This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
 If a copy of the MPL was not distributed with this file, You can obtain one at
 https://mozilla.org/MPL/2.0/.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/SplashTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".KubrikoShowcaseActivity"
            android:exported="true"
            android:resizeableActivity="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="android.app.category"
            android:value="game" />

    </application>

</manifest>